.App {
  min-height: 100vh;
  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}


.search-form {

min-height: 1vh;
display: flex;
justify-content: center;
align-items: center;
}


.search-bar {
  font-family: 'Open Sans', sans-serif;
  top:1rem; 
  margin: 1rem;
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 5px;
}


.search-button {
font-family: 'Itim', cursive;
margin: 1rem;
background: rgb(203, 183, 236);
border: none;
padding: 10px 20px;
color: white;
border-radius: 5px;
cursor:pointer;
}


.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.calltoaction{
  font-family: 'Itim', cursive;
  margin-left: 1rem;
  text-align:start;
  color: aliceblue;
  
}